/*sporHR*/
.bg-head{
  background-image: url(../img/11-layers.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn:active, .btn:hover, .btn:focus{
  background: #3f46ad !important;
  color: white !important;
}

.case{
    background: #fff;
    color: #663fb5;
      width: 13%;
      text-align: center;
      position: absolute;
      top: -12px;
      left: 29px;
  }
/*got email*/
.inputs { width: 30px !important; 
    margin: 5px !important;  }



@font-face{
  font-family: 'AvertaDemo-Regular';
  src: url('../../avenir&avata/AvertaDemo-Regular.otf');
}
@font-face{
  font-family: 'AvenirLTStd-Book';
  src: url('../../avenir&avata/AvenirLTStd-Book.otf');
}
@font-face{
  font-family: 'AvenirLTStd-Medium';
  src: url('../../avenir&avata/AvenirLTStd-Medium.otf');
}
@font-face{
  font-family: 'Avenir Black';
  src: url('../../avenir&avata/Avenir Black.otf');
}
.f1{
  font-family: "AvenirLTStd-Medium";
}
.f2{
  font-family: "Avenir Black";
}
.f3{
  font-family: "AvertaDemo-Regular";
}
.f4{
  font-family: "AvenirLTStd-Book";
}




.clearfix{
  clear: all;
}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  border: 2px solid #FFFFFF;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #3f46ad !important;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}



.bd-brandr{ border:1px solid #BF0603;}



.dis-f {display:flex !important;}
    

    


.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.bs3{box-shadow: 0px 0px 10px #3f46ad;}

/*pagination*/

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid grey;
}

.pagination a.active {
    /*background-color: #BF6000;*/
    color: black;
    border-radius: 50%;
    border: 4px solid #663fb5;
}

.pagination a:hover:not(.active) {
    /*background-color: #BF6000;*/
    border: 4px solid #663fb5;
    border-radius: 50%;
    color: black;
}
/*pagenation end*/



/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 30px;
  width : 30px;
  margin-top: 15%;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 30px;
  width : 30px;
  margin-top: 15%;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100px;
  height: 100px
}
/*locate*/

/*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
/*end*/



.__accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    /*line-height: 1.2;*/
    font-weight: 600;
    transition: 0.4s;
}

.__active, .__accordion:hover {
    background-color: transparent !important;
    color: #2980b9;
}

.__accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    padding-left: 3px;
}

.__active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0;
}


.bg-head{
  /*background: linear-gradient(100deg, rgba(215, 221, 232, 0.6) 50%, rgba(215, 221, 232, 0.6) 50%),url(../img/capture.png);*/
  /*background-attachment: fixed;*/
  /*background-image: url(../img/capture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*background-blend-mode: normal;*/
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
}
.bg-head4{
  background-image: url(../img/capture4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-head41{
  background-image: url(../img/capture41.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-head1{
  background-color: #FCFCFC !important;
   clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);

}
.bg-headp{
  background-color: #F7F7F7 !important;
}
.bg-head2{
  background-color: #DDDDDD!important;
   clip-path: polygon(0 0, 1600px 20%, 1600px 100%, 0 100%);

}

/*social icons*/
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #4a4a4a;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}
/*end*/

@media screen and (max-width: 800px){
    .twidth-60 {
        width: 60px !important;
    }
    .twidth-200 {
        width: 200px !important;
    }
    .twidth-210 {
        width: 210px !important;
    }
    .twidth-225 {
        width: 225px !important;
    }
    .twidth-250 {
        width: 250px !important;
    }
    .twidth-270 {
        width: 270px !important;
    }
    .twidth-280 {
        width: 280px !important;
    }
    .twidth-300 {
        width: 300px !important;
    }
    .twidth-303 {
        width: 303px !important;
    }
    .twidth-310 {
        width: 310px !important;
    }
    .twidth-313 {
        width: 313px !important;
    }
    .twidth-334 {
        width: 334px !important;
    }
    .twidth-356 {
        width: 356px !important;
    }
    .twidth-370 {
        width: 370px !important;
    }
    .twidth-400 {
        width: 400px !important;
    }
    .twidth-437 {
        width: 437px !important;
    }
    .twidth-522 {
        width: 522px !important;
    }
    .twidth-700 {
        width: 700px !important;
    }
    .twidth-100p {
        width: 100% !important;
    }
    .tm-l-0 {margin-left:0px !important;}
    .tm-l-20 {margin-left:20px !important;}
    .tm-l-30 {margin-left:30px !important;}
    .tm-l-40 {margin-left:40px !important;}

    .tm-t-0{margin-top:0px !important;}
    .tm-t-40{margin-top:40px !important;}
    .tm-t-10p{margin-top:10%!important;}
    
    .th-130 {
        height: 130px !important;
    }
    .th-230 {
        height: 230px !important;
    }
    .th-260 {
        height: 260px !important;
    }
    .th-274 {
        height: 274px !important;
    }
    .th-300 {
        height: 300px !important;
    }
    .th-509 { height:509px !important; }
    .th-750 { height:750px !important; }
    .th-870 { height:870px !important; }
    .th-auto { height:auto !important; }
    .tb-3 {
        bottom: 3px !important;
    }
    .tb-_1036 {
        bottom: -1036px !important;
    }
    .tb-_1085 {
        bottom: -1085px !important;
    }
    .tp-l-15 {padding-left:15px !important;}
    .tl-0 { left:0px !important; }
    .tl-63p { left:63% !important; }
    .tl-99p { left:99% !important; }
    .tl-100p { left:100% !important; }
    .tp-5p {padding:5% !important;}

    .tm-t-20{margin-top:20px !important;}
    .tm-t-30{margin-top:30px !important;}
    .tm-t-45{margin-top:45px !important;}
    .tm-t-50{margin-top:50px !important;}
    .tm-t-5p{margin-top:5% !important;}
    .tm-t-7p{margin-top:7% !important;}
    .tm-t-8p{margin-top:8% !important;}
    .tm-t-10p{margin-top:10% !important;}

    .tf-13{font-size:13px !important;}
    .tf-20{font-size:20px !important;}

    .tp-t-5p {padding-top:5% !important;}
    .tp-t-40p {padding-top:40% !important;}
    .tp-t-50p {padding-top:50% !important;}
    .tp-t-61p {padding-top:61% !important;}


    .tp-b-0 {padding-bottom:0px !important;}
    .tp-b-10p {padding-bottom:10% !important;}
    .tp-b-50p {padding-bottom:50% !important;}
    .tp-b-61p {padding-bottom:61% !important;}

    .leftbar p {
    background-color: white;
    padding: 6px 50px;
    margin-bottom: 1%;
    text-align: left;
    color: black;
    cursor: pointer;
}

  }





  @media screen and (max-width: 560px){

    /*overlay*/
    .mbg-overlay {
      width: 100%;
      height: 15vh;
      position: absolute;
      background-color: #fcfcfc;
      bottom: 128px;
      /* top: 178px; */
      right: 0;
      z-index: -1;
    }

    .mbg-overlay1 {
      width: 100%;
      height: 15vh;
      position: absolute;
      background-color: #fcfcfc;
      bottom: -150%;
      /* top: 178px; */
      right: 0;
      z-index: -1;
  }





  /*end*/


  .mm-auto {margin:auto !important;}

  .mm-l-0 {margin-left:0px !important;}
  .mm_5 {margin:-5px !important;}
  .mm-l-10 {margin-left:10px !important;}
  .mm-l-13 {margin-left:13px !important;}
  .mm-l-14 {margin-left:14px !important;}
  .mm-l-15 {margin-left:15px !important;}
  .mm-l-16 {margin-left:16px !important;}
  .mm-l-18 {margin-left:18px !important;}
  .mm-l-20 {margin-left:20px !important;}
  .mm-l-30 {margin-left:30px !important;}
  .mm-l-32 {margin-left:32px !important;}
  .mm-l-35 {margin-left:35px !important;}
  .mm-l-50 {margin-left:50px !important;}
  .mm-l-60 {margin-left:60px !important;}
  .mm-l-65 {margin-left:65px !important;}
  .mm-l-80 {margin-left:80px !important;}
  .mm-l-110 {margin-left:110px !important;}
  .mm-l-110 {margin-left:110px !important;}

  .mm-t-0{margin-top:0px !important;}
  .mm-t-5{margin-top:5px !important;}
  .mm-t-8{margin-top:8px !important;}
  .mm-t-10{margin-top:10px !important;}
  .mm-t-20{margin-top:20px !important;}
  .mm-t-35{margin-top:35px !important;}
  .mm-t-40{margin-top:40px !important;}
  .mm-t-45{margin-top:45px !important;}
  .mm-t-50{margin-top:50px !important;}
  .mm-t-86{margin-top:86px !important;}
  .mm-t-90{margin-top:90px !important;}
  .mm-t-5p{margin-top:5% !important; }
  .mm-t-10p{margin-top:10% !important; }
  .mm-t-21p{margin-top:21% !important; }
  .mm-t-25p{margin-top:25% !important; }


  .mf-8{font-size:8px !important;}
  .mf-10{font-size:10px !important;}
  .mf-11{font-size:11px !important;}
  .mf-12{font-size:12px !important;}
  .mf-14{font-size:14px !important;}
  .mf-15{font-size:15px !important;}
  .mf-16{font-size:16px !important;}
  .mf-17{font-size:17px !important;}
  .mf-18{font-size:18px !important;}
  .mf-20{font-size:20px !important;}
  .mf-22{font-size:22px !important;}
  .mf-24{font-size:24px !important;}
  .mf-25{font-size:25px !important;}
  .mf-30{font-size:30px !important;}
  .mf-40{font-size:40px !important;}

  
  




  .mwidth-0 {width:0 !important;}
  .mwidth-40 {width:40px !important;}
  .mwidth-104 {width:104px !important;}
  .mwidth-127 {width:127px !important;}
  .mwidth-140 {width:140px !important;}
  .mwidth-217 {width:217px !important;}
  .mwidth-318 {width:318px !important;}
  .mwidth-355 {width:355px !important;}
  .mwidth-230 {width:230px !important;}
  .mwidth-250 {width:250px !important;}
  .mwidth-40p {width:40% !important;}
  .mwidth-50p {width:50% !important;}
  .mwidth-56p {width:56% !important;}
  .mwidth-61p {width:61% !important;}
  .mwidth-78p {width:78% !important;}
  .mwidth-81p {width:81% !important;}
  .mwidth-80p {width:80% !important;}
  .mwidth-82p {width:82% !important;}
  .mwidth-94p {width:94% !important;}
  .mwidth-100p {width:100% !important;}


  .mm-b-0 {margin-bottom:0px !important;}

  .mp-b-0 {padding-bottom:0px !important;}
  .mp-b-5 {padding-bottom:5px !important;}
  .mp-b-10 {padding-bottom:10px !important;}

  .mh-35 { height:35px !important; }
  .mh-66 { height:66px !important; }
  .mh-345 { height:345px !important; }
  .mh-400 { height:400px !important; }
  .mh-100p { height:100% !important; }
  .mh-auto { height:auto !important; }



  .mp-5 {padding:5px !important;}

  .mp-t-0 {padding-top:0 !important;}
  .mp-t-5 {padding-top:5px !important;}
  .mp-t-10 {padding-top:10px !important;}
  .mp-t-20 {padding-top:20px !important;}
  .mp-t-30 {padding-top:30px !important;}
  .mp-t-60 {padding-top:60px !important;}

  .l-h {
    line-height: 25px;
  }

  .leftbar p {
    background-color: white;
    padding: 6px 30px;
    margin-bottom: 1%;
    text-align: left;
    color: black;
    cursor: pointer;
}


  .per_month{
    position: absolute !important;
      margin-left: 167px !important;
      margin-top: -37px !important;
  }

.mcard{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -79% !important;
}

.mcard1{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -72% !important;
}

.mcard2{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -40% !important;
}

.mcard3{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -43% !important;
}

.mcard4{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -69% !important;
}
.mcard5{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -58% !important;
}

.mcard6{
  position: absolute !important;
    margin-left: 73% !important;
    margin-top: -64% !important;
}


.mapartments{
  margin: 0 auto;
  margin-top: 60%; 
}

.mapartment{
  margin: 0 auto;
  margin-top: 10%; 
}

.mbd-brandaprtment{ border:none !important;box-shadow:none;}


  .ip6{
  position: absolute;
    left: 77px;
    bottom: -9px;
}




/****  Top  ****/
.mt-_14 { top:-14px; }
.mt-50 { top:50px !important; }

.ml-215 { left:215px !important; }

.mpos-rel {position:relative;}
.mpos-abs {position:absolute;}


  .mp-l-0{padding-left:0px !important;}
  .mp-l-10{padding-left:10px !important;}
  .mp-l-15{padding-left:15px !important;}
  .mp-l-27{padding-left:27px !important;}
  .mp-l-20{padding-left:20px !important;}
  .mp-l-29{padding-left:29px !important;}
  .mp-l-30{padding-left:30px !important;}
  .mp-l-33{padding-left:33px !important;}
  .mp-l-35{padding-left:35px !important;}
  .mp-l-40{padding-left:40px !important;}
  .mp-l-45{padding-left:45px !important;}
  .mp-l-50{padding-left:50px !important;}
  .mp-l-60{padding-left:60px !important;}
  .mp-l-90{padding-left:90px !important;}
  .mp-l-117{padding-left:117px !important;}
  .mp-l-34p{padding-left:34% !important;}
  .mp-l-40p{padding-left:40% !important;}
  .mp-l-80p{padding-left:80% !important;}

  .mm-r-0 {margin-right:0px !important;}

  .mp-r-0{padding-right:0px !important;}
  .mp-r-15{padding-right:15px !important;}
  .mp-r-10{padding-right:10px !important;}


  .mbg-redm{ background:#BF0603 !important; background-color:#BF0603; }
  .mbg-grey99{ background:#FCFCFC !important; background-color:#FCFCFC; }

  .mp-20 {padding:20px !important;}

  .case{
    background: #fff;
    color: #663fb5;
      width: 12%;
      text-align: center;
      position: absolute;
      top: -9px;
      left: 29px;
  }


  .mbg-bugger{
    background-color: white !important;
  }

  .mdis-none {display:none !important;}

  .mc-ta{text-align: center !important;}





  footer.nb-footer{
    height: 100%;
  }

  .navbar-nav {
    /*color: white;*/
    background: black;
  }

  
  a:focus, a:hover {
      text-decoration:none !important;
  }

  .showSweetAlert{
    width: 288px !important;
    margin-top: -200px !important;
  }


  .mcalendar_list{
  bottom: 60% !important;
    right: 5% !important;
    margin-right: -3px !important;
    margin-bottom: 8px !important;
}





  .calendar_index{
    bottom: 51% !important;
    right: 6% !important;
    margin-right: -4px;
    margin-bottom: -15px;
}

.tc{
  text-align: center !important;
}







